.adminLayout {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pageContent {
  flex-grow: 1;
  padding: 20px;
  background-color: #f8f9fa; /* Light gray background */
}
