.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.th {
  border: 1px solid var(--border-medium);
  padding: 8px;
  text-align: left;
  background-color: var(--bg-secondary);
  color: var(--text-white);
}

.td {
  border: 1px solid var(--border-medium);
  padding: 8px;
  text-align: left;
  color: var(--text-white);
}
